@charset "utf-8";
/* import */
@import url("./fonts.css");
/* end import */
/*.modal.modal-wide .modal-dialog {
  width: 80%;
}*/
/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/*loading*/
.background-void{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(109, 132, 193, .7);
  border-left-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  z-index: 9999;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 80px;
  width: 80px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}
/*endloading*/
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5d6ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23527c;
}
.one-chieu{color: #FF9900 }
.two-chieu{color: #FF0033;font-weight: bold; }
.two-on{ color: #00FF00 }
#menu-main{
  /*height: 88vh!important;*/
}
.error_permission{
  background: #DD0000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;

}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
  background-color: #a5d6ff!important;
    color: #000;
}

.error_permission a{
  color: #fff;
  text-decoration: underline;
}
blink {
    -webkit-animation: 1.5s linear infinite condemned_blink_effect; // for android
    animation:  1.5s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.main-content-web {
    max-height: 89vh;
    overflow-y: auto;
}
#menu-main.fixed{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.dataTables_wrapper .dataTables_filter input{
  height: 30px;
  border:1px solid #ccc;
}
.container{
    position: relative;
}
/* login page */
.page-login{
    height: 100vh;
}
.page-login .background-images{
    width: 100%;
    height: 100vh;
    background: url('../images/login_01.png') no-repeat top;
    background-size: 100%;
}
.page-login .login-form{
    height: 100vh;
    display: flex;
    align-items: center;
}
.page-login .login-form form {
    width: 50%;
}
.page-login .login-form .checkbox{
    width: 50%;
    display: inline-block;
}
.page-login .login-form .foget-password{
    width: 48%;
    display: inline-block;
    text-align: right;
}
.page-login .login-form legend{
    color: #0e75d4;
    font-size: 30px;

}
/*setting multipe select*/
.ms-container {
  width: 100%!important;
}
.input-group-btn{
  text-align: center;
}
/*.dataTables_filter { display: none!important; }*/
.playlist-item{display: inline-block;}
.play-button-greenting{
  cursor: pointer;
}
/*end setting multipe select*/
/*button toggle*/
body {
  font-family: 'Open Sans','Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
  color: #6b7381;
  background: #fff;
}
.jumbotron {
  background: #6b7381;
  color: #bdc1c8;
}
.jumbotron h1 {
  color: #fff;
}
.example {
  margin: 4rem auto;
}
.example > .row {
  margin-top: 2rem;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(189, 193, 200, 0.5);
}
.example > .row:first-of-type {
  border: none;
  height: auto;
  text-align: left;
}
.example h3 {
  font-weight: 400;
}
.example h3 > small {
  font-weight: 200;
  font-size: 0.75em;
  color: #939aa5;
}
.example h6 {
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 3.32px;
  text-transform: uppercase;
  color: #bdc1c8;
  margin: 0;
  line-height: 5rem;
}
.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}
/*end button toggle*/
/* end login page */
/* header */
.header{
    float: left;
    width: 100%;
    background: #0e6394;
    /*max-height: 55px;*/
    /*overflow: hidden;*/
}
.modal-header .close{
  color: #fff;
}
.header #logo{
    width: 100%;
    padding: 0 26%;
}
.header .border-left{
    padding-top: 15px;
    padding-bottom: 6px;
    background: #fff;
    border-right: thin solid #0e6394;
      box-shadow: 3px 0px 9px;
    -moz-box-shadow: 3px 0px 9px;
    -webkit-box-shadow: 3px 0px 9px;
    -o-box-shadow: 3px 0px 9px;
    -ms-box-shadow: 3px 0px 9px;
}
.header ul{
    line-height: 48px;
}
.header ul li {
    float: left;
    padding: 0px 20px;
}
.header ul li a{
    color: #fff;
    font-size: 14px;
    font-family: 'Source Sans Pro',Verdana, Geneva, Tahoma, sans-serif;
}
.header .account{
    padding: 15px;
}
.header .account .dropdown-toggle{
    color: #fff;
    cursor: pointer;
}
.header .account .dropdown-menu{
    padding: 10px;
    min-width: 100px;
}
.header .account .dropdown-item{
    color: #333;
    width: 100%;
    float: left;
    text-align: right;
    margin-bottom: 10px;
}
.header .account .dropdown-item:last-child{
    margin-bottom: 0px;
}
.header .account img{
    border-radius: 20px;
    margin-right: 10px;
}
/* end header */
/* body */
.main-content-web {
    max-height: 88vh;
    overflow: auto;
}
#menu-main{
    height: 87vh!important;
    /*padding: 20px 20px 0px 20px;*/
    padding: 0;
    background: #fff;
    border-right: 1px solid #0e6394;
    overflow-y: auto;
    box-shadow: 2px 0px 6px;
    -moz-box-shadow: 2px 0px 6px;
    -webkit-box-shadow: 2px 0px 6px;
    -o-box-shadow: 2px 0px 6px;
    -ms-box-shadow: 2px 0px 6px;
}
#menu_top{
  background: #fff!important;
}
.main-menu{
  background: #fff;
  min-height: 79vh;
}
#menu_top ul li{
    /*padding: 10px ;*/
    /*background: #eee;*/
}
#menu_top ul li a{
    color: #333;
    font-size: 13px;
    padding: 10px;

    background: #fff;
    display: block;
    cursor: pointer;
    transition: all ease 0.3s;
}
#menu_top ul li a .fa{
  color: #0e6394;
}
#menu_top ul li ul li a{
  padding-left: 20px;
}
#menu_top ul li.submenu-open a.submenu-open{
  background: #a5d6ff;
}
#menu_top ul li ul li:hover{
  box-shadow: 3px 3px 10px;
}
#menu_top ul li ul li:hover a,
#menu_top ul li ul li.active a,
#menu_top ul li ul li.active:hover a{
  background: #a5d6ff;
  color: #F36F2B;
  font-weight: bold;
}

#menu_top ul li a.active{

}
#menu_top ul li a .icon-right{
  float: right;
  margin-right: 15px;
}
.submenu-open{
    background: #fff;
}
#menu_smartphone ul li ul,
#menu_top ul li ul{
    display: none;
}
#menu_smartphone ul li ul li,
#menu_top ul li ul li{
    /*padding-left: 10px;*/
    transition: all 0.5s ease;
    border-bottom: 1px solid #eee;
}
#menu_smartphone ul li ul li.active,
#menu_smartphone ul li ul li:hover,
#menu_top ul li ul li.active,
#menu_top ul li ul li:hover{
    background: #a5d6ff;
    border-radius: 5px;
}
#menu_smartphone ul li ul li:last-child,
#menu_top ul li ul li:last-child{
    /*padding-bottom: 0px;*/
    border-bottom: none;
}
ul.main-menu li ul.open {
  display: block;
}
#menu-main .footer{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #5a5a5a;
}
.table-stt{
    width: 45px;
}
.grid-call table{
    color: #0c3e68;

}
.grid-call table .lable-black{
    font-size: 15px;
    color: #f36f2b;
    cursor: pointer;
    padding: 0px 15px;

}
.grid-call table a.lable-black,
.grid-call table a.lable-red{
  cursor: pointer!important;
}
.grid-call .lable-red{
    font-size: 15px;
    color: #ff0000;
    cursor: pointer;
    padding: 0px 15px;
}
.grid-call .lable-group{
    color: #838383;
}
.password-icon{
    color: #333;
    font-size: 20px;
    line-height: 34px;
    margin: 0px 5px;
}
.modal-header{
    color: #007ce6;
    padding: 10px 15px !important;
    background: #0e6394;
    border-radius: 5px 5px 0px 0px;

}
.modal-header h4{
    font-weight: bold !important;
    display: inline-block;
    color: #fff;
}
.panel-info{
    border-color: #fff !important;
}
.panel-info>.panel-heading{
    color: #373737;
    border-radius: 5px;
    border-color: #fff !important;
    margin-top: 10px;
}
#datefrom{
    width: 85%;
    float: right;
}
#dateto{
    width: 85%;
    float: right;
}
.search-goitudong .form-group{
    float: left;
    /*width: 100%;*/
}
.search-goitudong label{
    line-height: 35px;
    margin-bottom: 0px;
}
.search-goitudong .paging-page{
    width: 35%;
    float: right;
}
.search-goitudong .paging-type{
    width: 50%;
    float: right;
}
.search-goitudong .search-phone{
    width: 50%;
    float: right;
}
.search-goitudong .flow-phone{
    width: 60%;
    float: right;
}
#modal-add-group .modal-dialog{
    width: 840px;
}
#modal-edit-group .modal-dialog{
    width: 840px;
}
.choose-private{
    height: 130px;
    overflow-x: auto;
    border: thin solid #ccc;
    border-radius: 5px;
}
.choose-private ul li{
    padding: 2px 5px;
    border-bottom: thin solid #ccc;
}
.choose-private-seccon{
    height: 130px;
    overflow-x: auto;
    border: thin solid #ccc;
    border-radius: 5px;
}
.choose-private-seccon ul li{
    float: left;
    line-height: 35px;
    width: 100%;
    padding: 2px 0px;
    border-bottom: thin solid #ccc;
}
.choose-private-seccon ul li .lable-red{
    color: #ff0000;
}
/* end body */
div >.title{
    float: left;
    width: 100%;
    padding: 15px 0px;
    line-height: 30px;
    transition: all ease 0.3s;
}
div >.title:hover{
  box-shadow: 0 4px 2px -2px grey;
}
.title .block{
    margin-left: -15px;
}
.title .block label{
    float: left;
    font-weight: normal;
}
.title .block select{
    width: 60%;
    float: right;
}
.title-main{
    font-size: 20px;
    color: #338bd6;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    /*border-left: 3px solid #F3702D;*/
}
.accountant{
    float: left;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.accountant i{
    float: left;
    font-size: 20px;
    /*padding-right: 10px;*/
}
.accountant .accountant-content{
    float: left;
    margin-left: 10px;
}
.accountant .accountant-content span{
    font-size: 13px;
}
.accountant .accountant-content b{
    font-size: 17px;
}
.grid-call{
    /*margin-top: 15px;*/
    padding-top: 10px;
    /*border-top: thin solid #eee;*/
}
.grid-call .detail-exten{
    margin-bottom: 0;
}
.grid-call .detail-exten .item{
  padding: 5px;
  background: #338bd6;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}
.grid-call .detail-exten .item span{
  padding: 2px;
  /*border:1px solid #fff;*/
  /*border-radius: 3px;*/
  /*background: #fff;
  color: #000*/
}
.wrap-call{
    color: #fff;
    padding: 10px;
    background: #c0bebf;
    border-radius: 5px;
    margin-bottom: 30px;
}
.wrap-call label{
    font-weight: normal;
}
.wrap-call i{
    float: right;
    font-size: 20px;
}
.wrap-call a{
    color: #fff;
}
.wrap-grouptime{
    margin-bottom: 15px;
}
.grouptime-button{
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
}
.grouptime-button a{
    margin: 0 auto;
    font-size: 35px !important;
}
.my-switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35px;
}

.my-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.my-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
 .loading-mini {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -42px;
  padding: 10px;
  background: rgba(20, 20, 20, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #000000, 0 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 5px #000000, 0 1px 1px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: inset 0 0 5px #000000, 0 1px 1px rgba(255, 255, 255, 0.1);
  -o-box-shadow: inset 0 0 5px #000000, 0 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 5px #000000, 0 1px 1px rgba(255, 255, 255, 0.1);
}
.loading-mini .loading-dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  -ms-box-shadow: 0 0 2px black;
  -o-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  -webkit-animation: loadingFade 1s infinite;
  -moz-animation: loadingFade 1s infinite;
  animation: loadingFade 1s infinite;
}
.loading-mini .loading-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-mini .loading-dot:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loading-mini .loading-dot:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-mini .loading-dot:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/*loading*/
 .from-loading{
        position: absolute;
        top: 45%;
        left: 43%;
        text-align:center;
        background: #eee;
        padding: 15px;
        border-radius: 10px;
    }
    .content-full{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        z-index: 999999;
        background: rgba(255,255,255,0.5);
    }
    @-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Variables */
/* Loading Icon */
.loading {
  width: 22%;
  height: 50px;
  margin:auto;
}
.loading__ring {
  position: absolute;
  width: 50px;
  height: 50px;
}
.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
          transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
          transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}
.my-slider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .my-slider {
    background-color: #83db8f;
}

input:focus + .my-slider {
    box-shadow: 0 0 1px #83db8f;
}

input:checked + .my-slider:before {
    -webkit-transform: translateX(95%);
    -ms-transform: translateX(95%);
    transform: translateX(95%);
}

  /* Rounded my-sliders */
.my-slider.round {
    border-radius: 34px;
}

.my-slider.round:before {
    border-radius: 50%;
}
/* responsive */
@media (max-width: 1508px){
  .header #logo {
    padding: 0 20%;
  }
  .main-menu{

    min-height: 79vh;
  }
}
@media (max-width: 1300px){
  .header .border-left{}
  .header #logo {
    padding: 0 20px;
  }
}
@media (max-width: 1200px){
  .main-menu{

    min-height: 79vh;
  }
  .header .border-left{
    padding-top: 10px;
  }
   .header #logo {
    padding: 0 16px;
  }
}
@media (max-width: 1000px){
   .header .border-left{
    padding-top: 10px;
  }
  .header #logo {
    padding: 0 15px;
  }
}
@media (max-width: 768px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    #modal-add-group .modal-dialog{
      width: 80%;
  }
}
@media (max-width: 414px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .title-main{
      font-size: 18px;
    }
    #modal-add-group .modal-dialog{
      width: 95%;
  }
  .dataTables_wrapper .dataTables_length{
    float: left!important;
    line-height: 45px;
  }
  .dataTables_wrapper .dataTables_filter{
    float: right !important;
  }
}
/* end responsive */

.qlog {
  margin-left: 30px;
  color:red;
}

.diskquote_25 {
  background-color: green !important;
}

.diskquote_50 {
  background-color: orange !important;
}

.diskquote_75 {
  background-color: red !important;
}